<header class="max-width mx-auto center">
    <h1 class="h1">Your Documents</h1>
</header>

<main class="mx-auto container">
    <div class="card m1">
        <div class="card--inner p1">
            <h3 class="mb0 mt1">Passport</h3>
            <h4 class="mt1 mb2">Expiring in 4 Years and 3 Months</h4>
        </div>
    </div>
    <div class="card m1 mt2">
        <div class="card--inner p1">
            <h3 class="mb0 mt1">ID</h3>
            <h4 class="mt1 mb2">Expiring in <span class="red">19 Days</span></h4>
            <div class="center mb2 ">
                <a ui-sref="auth" class="btn">
                  Renew Now!
                </a>
            </div>
        </div>
    </div>
    <div class="card m1 mt2">
        <div class="card--inner p1">
            <h3 class="mb0 mt1">Driving License</h3>
            <h4 class="mt1 mb2">Expiring in 2 Years and 7 Months</h4>
        </div>
    </div>
</main>

<footer class="fixed bottom-0 left-0 right-0">

</footer>

<div class="fixed bottom-0 center mx-auto left-0 right-0 p1">
  <p class="credit">
      &bull; Made by awesome guys @ HEX Hackathon 2017 &bull;
  </p>
</div>
