<div class="red-back full">
    <header class="mx-auto center">
        <h1 class="h1 white">Providing Information</h1>
    </header>
    <main class="container mx-auto center">
        <div class="card m1 highcard">
            <div class="p1">
                <h2 class="mt3 h2 ">To renew your ID you need to provide a current picture, why don't you take one now?</h2>
                <webcam></webcam>
                <h2 class="mt3 h2 ">Please hold your face in front of your phone</h2>
            </div>
        </div>
    </main>
    <div class="fixed left-0 right-0 proceed mx-auto center">
        <a ui-sref="map" class="btn btn-inverse mt2">Proceed</a>
    </div>
</div>
