<p>Select where you want to pick up your ID:</p>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOujed2vtp__DZF4FwBAEes09_fMiYZdU
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
<!--<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
 <div id="mapid"></div>
 <style>#mapid { height: 180px; }</style>
 <script>var mymap = L.map('mapid').setView([51.505, -0.09], 13);
 var marker = L.marker([51.5, -0.09]).addTo(mymap);</script>-->
<p>Select the date:</p>
<input type="date">
<button><a ui-sref="form.done">Proceed</a></button>