<div class="red-back full">
    <header class="mx-auto center">
        <h1 class="h1 white">Authentication</h1>
    </header>
    <main class="container mx-auto center">
        <div class="card m1 highcard">
            <div class="p1">
                <h3 class="mt3 h3 mb0">You need to authenticate to proceed.</h3>

                <img src="../pics/id-card.svg" class="pic">
                <h3 class="mt0 h3 ">Please hold your ID in front of your phone</h3>
            </div>
        </div>
    </main>
    <div class="fixed left-0 right-0 proceed mx-auto center">
        <div ng-if="spin">
            <div class="spin"></div>
        </div>
        <div ng-if="!spin">
            <a ui-sref="piq" class="btn btn-inverse mt2">Proceed</a>
        </div>
        <input type="checkbox" ng-model="spin">
    </div>
</div>
