<div class="red-back full">
    <header class="mx-auto center">
        <h1 class="h1 white">Providing Information</h1>
    </header>
    <main class="container mx-auto center">
        <div class="card m1 highcard">
            <div class="p1">
                <h3 class="mt3 h3 ">To renew your ID you need to provide a current picture.</h3>
                <a class="btn">
                  Upload piq
                </a>

                <label class="btn btn-green" for="camera">Take piq</label>
                <input type="file" accept="image/*;capture=camera" id="camera">
                <img id="frame" src="{{source}}" style="height: 75; width: 75%; margin-top: 10px">
                <h3 class="mt3 h3 ">Please hold your face in front of your phone</h3>
            </div>
        </div>
    </main>
    <div class="fixed left-0 right-0 proceed mx-auto center">
        <a ui-sref="map" class="btn btn-inverse mt2">Proceed</a>
    </div>
</div>
