<div class="red-back full">
    <header class="mx-auto center">
        <h1 class="h1 white">Providing Information</h1>
    </header>
    <main class="container mx-auto center">
        <div class="card m1 highcard">
            <div class="p1 mx-auto">
              <h3>That's the nearest machine to your location</h3>
              <iframe
                width="95%"
                height="100%"
                frameborder="0" style="border:4px solid black;border-radius:4px;"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAOujed2vtp__DZF4FwBAEes09_fMiYZdU
                  &q=Space+Needle,Seattle+WA" allowfullscreen>
              </iframe>
              <h3>You can get your new ID from April the 7th.</h3>
            </div>
        </div>
    </main>
    <div class="fixed left-0 right-0 proceed mx-auto center">
        <a ui-sref="done" class="btn btn-inverse mt2">Proceed</a>
    </div>
</div>
