<div class="red-back full">
    <header class="mx-auto center">
        <h1 class="h1 white">Providing Information</h1>
    </header>
    <main class="container mx-auto center">
        <div class="card m1 highcard">

            <div id="map" style="height:250px;" ng-click="map();"></div>

            <div class="p1 mx-auto">
                <h3 class="h4" ng-if="derp === ''">Choose where you want to get your ID</h3>
                <h3 class="h4" ng-if="derp !== ''">You've choosen: <span class="green">{{derp}}</span></h3>

              </iframe>
                <h3 class="h4" ng-if="derp !== ''">You can get your new ID April the 7th.</h3>
            </div>
        </div>
    </main>
    <div class="fixed left-0 right-0 proceed mx-auto center">
        <a ui-sref="done" class="btn btn-inverse mt2">Proceed</a>
    </div>
</div>
