<div class="red-back full">
    <header class="mx-auto center">
        <h1 class="h1 white">Authentication</h1>
    </header>
    <main class="container mx-auto center">
        <div class="card m1 highcard">
            <div class="p1">
                <h2 class="mt3 h2 ">You need to authenticate to proceed.</h2>
                <img src="" alt="">
                <h2 class="mt3 h2 ">Please hold your ID in front of your phone</h2>
            </div>
            <img src="../pics/id-card.svg">
        </div>
        <a ui-sref="piq" class="btn btn-inverse mt4">Proceed</a>
    </main>
</div>
